* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

<<<<<<< HEAD
=======
html {
    font-family: "RadikalW01-Regular";
}

>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
body {
    background: #000e14;
    font-family: "RadikalW01-Regular";
}

canvas {
    position: absolute;
<<<<<<< HEAD
    top: 0px;
=======
    top: -40px;
>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    z-index: 1;
    /* transition: ease-in 0.1s; */
}

header .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    font-weight: 500;
    margin: 0 5px;
    font-family: "RadikalW01-Regular";
}

@import url(//db.onlinewebfonts.com/c/e7d643d9ae335eb641aeb0451aa390c2?family=RadikalW01-Regular);

@font-face {
    font-family: "RadikalW01-Regular";
    src: url("//db.onlinewebfonts.com/t/e7d643d9ae335eb641aeb0451aa390c2.eot");
    src: url("//db.onlinewebfonts.com/t/e7d643d9ae335eb641aeb0451aa390c2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e7d643d9ae335eb641aeb0451aa390c2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e7d643d9ae335eb641aeb0451aa390c2.woff") format("woff"), url("//db.onlinewebfonts.com/t/e7d643d9ae335eb641aeb0451aa390c2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e7d643d9ae335eb641aeb0451aa390c2.svg#RadikalW01-Regular") format("svg");
}

::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: none;
    /* Ocultar scroll */
}

/* Section1 */

.titulo-banner {
    z-index: 1;
}

.info span {
    color: white;
    font-size: 26px;
    font-weight: 600;
    margin: -54px 250px;
    position: absolute;
}

.content {
    position: relative;
    display: flex !important;
    justify-content: center;
    text-align: center;
    height: 500px;
    align-items: center;
}

.titles h1 {
    color: #fff;
    font-weight: 800;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    margin: 40px;
}

.home h1 {
    color: #ffff;
    z-index: 1;
    font-size: 2.3rem;
    width: 500px;
    font-weight: 600;
    font-family: "RadikalW01-Regular";
}

.navbar-brand {
    margin: 0 60px !important;
}

.s3d__side {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.s3d__side:nth-child(1) {
    /* background-image: url("https://picsum.photos/1920/1080/?random"); */
}

.s3d__side:nth-child(2) {
    /* background-image: url("https://picsum.photos/1920/1280/?random"); */
    background: #000e14;
    z-index: 1;
}

.s3d__side:nth-child(3) {
    background: #000e14;
    z-index: 1;
    /* background-image: url("https://picsum.photos/1920/1180/?random"); */
}

.s3d__side:nth-child(4) {
    background: #000e14;
    z-index: 1;
}

.s3d__side:nth-child(5) {
    background-image: url("https://picsum.photos/1920/1180/?random");
    z-index: 1;
}

.s3d__navigation-link {
    display: none;
<<<<<<< HEAD
}

=======

}


>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
/* end section1 */

/* 2prouct */

.card-product__item {
    width: 80%;
    margin: 10px 20px;
}

.txt {
    position: absolute;
    top: 80px;
    /* left: -52px; */
    font-size: 21px;
    font-weight: 600;
    transform: translateZ(80px);
    color: #fff;
    margin: 0px -65px;
    /* display: list-item; */
    width: 300px;
}

.atvImg {
    border-radius: 5px;
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 350px;
    display: inline-block;
}

.atvImg img {
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
}

.atvImg-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
    box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}

.atvImg-layers {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    transform-style: preserve-3d;
}

.atvImg-rendered-layer {
    position: absolute;
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: all 0.1s ease-out;
}

.atvImg-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.2s ease-out;
    box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
}

.atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%);
}

.card-product-product {
    /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 20px 0; */
    /* display: flex; */
    /* justify-content: space-around; */
    flex-wrap: wrap;
    max-width: 960px;
    /* margin: 0 auto; */
    padding: 50px 20px 0;
}

.wrapper-product {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 60vh;
    width: 100%;
    display: flex !important;
    justify-content: center;
}

.card-product {
    position: relative;
    position: relative;
    width: 290px;
    height: 350px;
    padding: 40px;
    transform-style: preserve-3d;
<<<<<<< HEAD
=======

>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
}

.card-product h1 {
    position: absolute;
    z-index: 2;
    transform: translatez(50px);
    left: -50px;
    width: 70%;
    text-shadow: 5px 3px 10px #000;
    font-size: 20px;
    color: #fff;
}

.card-product .price {
    font-size: 25px;
    letter-spacing: 0.05em;
    transform: translateZ(50px);
    position: absolute;
    bottom: 12px;
    color: #fff;
    font-weight: 600;
    text-shadow: 5px 3px 10px #000;
    right: -20px;
}

.card-product .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.center {
    margin: 100px 0;
}

.slick-dots li.slick-active button:before {
    color: #fff !important;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 35px !important;
}

.slick-dots li button:before {
    color: #fff !important;
}

.title-product {
    color: #fff;
    font-weight: 800;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    margin: 40px;
}

.title-product::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 6px;
    background: #ff1212;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    -webkit-animation: title-border-slide-in 0.35s ease-out forwards;
    animation: title-border-slide-in 0.35s ease-out forwards;
}

/* blog */
<<<<<<< HEAD

=======
>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
.blog {
    cursor: pointer;
}

.blog .card-product .bg {
    position: relative;
}

.blog .card-product {
    width: 420px;
    height: 290px;
}

.blog-info {
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 80%;
}

.blog .title {
    position: relative;
    z-index: 2;
    position: relative;
    z-index: 2;
    transform: none;
    left: 0px;
    width: 100%;
    font-size: 20px;
    color: #000e14;
    font-weight: 600;
    margin: 0px 10px;
    top: 8px;
    margin: 0px 10px 15px;
<<<<<<< HEAD
=======

>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
}

.blog-info p {
    margin: 10px;
    font-size: 14px;
    color: #000e14;
}

.blog-info span {
    font-size: 12px;
    margin: 10px;
    letter-spacing: 2px;
    color: #088d9e;
}

.blog .wrapper-product {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 80vh;
    width: 100%;
}

/* .blog h1 {
    color: #fff;
    font-weight: 800;
    text-align: center;
    margin: 20px;
    font-size: 30px;
} */

.blog .slick-dots {
    padding: 70px 0;
}

/* portafolio o overviews */
<<<<<<< HEAD

=======
>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
#info {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    width: 95%;
    max-width: 900px;
    margin: 0 auto 40px auto;
    font-family: arial;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

#info .info-wrapper {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
<<<<<<< HEAD
=======

>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
}

#info a {
    color: #c09853;
    text-decoration: none;
}

#info p {
    margin: 5px 0 0 0;
}

<<<<<<< HEAD
=======

>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#filters {
    margin: 1%;
    padding: 0;
    list-style: none;
    border: 1px solid #ffffff40;
}

#filters li {
    float: left;
}

#filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#filters li span.active {
    background: #ffffff;
    color: #000e14;
}

.pprtafolio h1 {
    margin-bottom: 5%;
}

<<<<<<< HEAD
=======

>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 23%;
    margin: 1%;
    display: none;
    float: left;
    overflow: hidden;
    border: 0;
}

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #666;
    cursor: pointer;
}

.portfolio img {
    max-width: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
    background: #e95a44;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio .label-text {
    color: #000e14;
    position: relative;
    z-index: 500;
    padding: 2px 8px;
    background: white;
}

.portfolio .text-category {
    display: block;
    font-size: 9px;
}

.portfolio:hover .label {
    bottom: 0;
}

.portfolio:hover img {
    top: -30px;
}

<<<<<<< HEAD
/* #Tablet (Portrait) */

=======




/* #Tablet (Portrait) */
>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px;
    }
}

<<<<<<< HEAD
/*  #Mobile (Portrait) - Note: Design for a width of 320px */

=======

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
@media only screen and (max-width: 767px) {
    .container {
        width: 95%;
    }

    #portfoliolist .portfolio {
        width: 48%;
        margin: 1%;
    }

    #ads {
        display: none;
    }
<<<<<<< HEAD
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */

=======

}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 70%;
    }

    #ads {
        display: none;
    }
<<<<<<< HEAD
=======

>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
}

/* #Clearing */

/* Self Clearing Goodness */
<<<<<<< HEAD

=======
>>>>>>> e352da37ec42c816511fdaf3159a7ab6dbb56eee
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,
.clearfix:after {
    clear: both;
}

.row,
.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.footer {
    background: #000e14;
    z-index: 2;
}
