.slick-next:before,
.slick-prev:before {
    font-family: 'FontAwesome';
    font-size: 20px;

}

.slick-next:before {
    content: "\f105";

}

.slick-prev:before {
    content: "\f104";

}

.slick-prev {
    z-index: 2;
}

.slick-dots li.slick-active button:before {
    color: #00fefe !important;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 35px !important;
}

.slick-next:before,
.slick-prev:before {
    color: #00fefe;
}

.slick-dots li button:before {
    color: #fff !important;

}

.slick-next {
    right: 500px;
}

.slick-prev {
    left: 500px;

}

.slick-next:hover::before,
.slick-prev:hover::before {
    color: #fff;
     !important;

}

.slick-next,
.slick-prev {
    /* border: 1px solid transparent!important; */
    border-radius: 2px;
    width: 40px;
    height: 40px;

    transition: opacity 0.3s ease;
    box-shadow: -1px 17px 15px -7px rgba(0, 0, 0, 0.14), 0px 24px 38px 3px rgba(0, 0, 0, 0.55), 0px 9px 46px 8px rgba(0, 0, 0, 0.13);
}

.slick-next:hover,
.slick-prev:hover {
    background: -webkit-linear-gradient(96deg, rgb(5, 254, 255), rgb(4, 16, 184));
    background: linear-gradient(96deg, rgb(5, 254, 255), rgb(4, 16, 184));

}

transition: opacity 0.3s ease;
}

/* .slick-next, .slick-prev:hover{
    background: #00fefe;
    color:#fff;
} */







body,
html {
    background: #3498db;
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.blue {
    /* background: #3498db; */
}

.blue .portfolio-img-small {
    background: transparent;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 18px;
    /* padding: 2%; */
    position: relative;
    text-align: center;
}

.slick-slide .image {
    padding: 10px;
}

.slick-slide img {
    border: 5px solid #FFF;
    display: block;
    width: 100%;
}

.slick-slide img.slick-loading {
    border: 0
}

/* .slick-slider {
    margin: 30px auto 50px;
} */


/* porfolio */
.portflio .content-filter {
    display: inline-grid;
    justify-content: center;

}

.portflio .slick-next {
    right: 25px;
    top: 0;
    background: -webkit-linear-gradient(96deg, rgb(5, 254, 255), rgb(4, 16, 184));
    background: linear-gradient(96deg, rgb(5, 254, 255), rgb(4, 16, 184));

    box-shadow: -1px 17px 15px -10px rgba(0, 0, 0, 0.13),
        0px 24px 38px 3px rgba(0, 0, 0, 0.09),
        0px 9px 46px 8px rgba(0, 0, 0, 0.13);
}

.portflio .slick-prev {
    left: 781px;
    top: 0;
    background: -webkit-linear-gradient(96deg, rgb(5, 254, 255), rgb(4, 16, 184));
    background: linear-gradient(96deg, rgb(5, 254, 255), rgb(4, 16, 184));

    box-shadow: -1px 17px 15px -10px rgba(0, 0, 0, 0.13),
        0px 24px 38px 3px rgba(0, 0, 0, 0.09),
        0px 9px 46px 8px rgba(0, 0, 0, 0.13);
}

.portfolio-img-big {
    height: 400px;
    background-size: 100% !important;
    width: 100%;
    background-position: center !important;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;


}

/* .blue .slick-slider {
    width: 800px !important;
} */
.button-area .button {
    display: inline-block;
    padding: 10px;
    margin: 30px 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;
}

.button-area .button:hover {
    background-color: rgba(255, 255, 255, 0.32);
}

.button-area .button.active {
    background-color: rgba(255, 255, 255, 0.52);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) inset;
}

.button-area input[type=checkbox] {
    display: none;
}

#mnsry_container {
    position: relative;
}

#mnsry_container:hover img {
    opacity: 0.28;
}

#mnsry_container article {
    width: 33.3%;
    min-height: 200px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}

#mnsry_container article h1 {
    position: absolute;
    top: 46%;
    left: 0;
    width: 100%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 1.2s;
    z-index: 1;
}

#mnsry_container article img {
    display: block;
    width: 100%;
    transition: all .8s;
}

#mnsry_container article:hover h1 {
    transform: translate3d(0, 18px, 0) scale(1.2, 0.4);
    opacity: 0;
}

#mnsry_container article:hover img {
    opacity: 1;
    transform: scale(1.04);
}

#loading_msg {
    position: fixed;
    top: 48%;
    width: 100%;
    z-index: -1;
}

@media (max-width: 860px) {
    #mnsry_container article {
        width: 50%;
        min-height: 150px;
    }
}

@media (max-width: 667px) {
    #mnsry_container article {
        width: 100%;
        min-height: 220px;
    }
}