.woocommerce-product-gallery__image  img { 
    object-fit: cover!important;
    background-repeat: no-repeat!important;
    height: 400px;
    width: 100%;
  }

.flex-viewport {
    width: 100%;
    object-fit: cover!important;
}

.flex-control-nav img {
    width: 100px;
    height: 90px;
    margin: 10px 5px 10px;
    object-fit: cover;
    object-position: top;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.flex-control-nav li {
    display: inline-block;
}

ul.flex-direction-nav {
    position: absolute;
    top: 5%;
    z-index: 99999;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0px;
    list-style: none;
    line-height: 2;
}

li.flex-nav-prev {
    float: left;
    }
li.flex-nav-next {
    float: right;
    }
a.flex-next {
    visibility:hidden;
    }
a.flex-prev {
    visibility:hidden;
    }
a.flex-next::after 
{  visibility: visible;
    content: '\f105';
    font-family: FontAwesome;
    margin-right: 18px;
    color: #0426bf;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.07);
    font-size: 1rem;
    padding: 9px 15px;
    background: #fff;
    width: 40px;
    height: 40px;
    margin-right: 0px;
      }
a.flex-prev::before {
    visibility: visible;
    content: '\f104';
    font-family: FontAwesome;
   
    color: #ffffff;
    color: #0426bf;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.07);
    font-size: 1rem;
    padding: 9px 15px;
    background: #fff;
    width: 40px;
    height: 40px;
    margin-left: 534px;
    }

.flex-control-nav {
    width: 540px;
  overflow-x: scroll;
  justify-content: center;
  display: flex;
}

/* barra
 */
 
#main ::-webkit-scrollbar {
      display: initial !important;
	width: 10px !important;
}

#main  ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
	border-radius: 10px!important;
}

#main ::-webkit-scrollbar-thumb {
	border-radius: 10px!important;
    background: white;
    cursor: pointer;
}

/* prodduct */
.product_title {
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
    margin-bottom: 25px;

}

.price-detail {
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
}
.quantity input.qty {
    width: 9%;
    text-align: center;
    border: none;
    color: #0c2dc1;
    height: 36px;
  }

  .quantity {
    display: inline;
  }

.qty_button {
    width: 30px;
    background: white;
  color: #314dca;
;
height: 37px;
    border: none;
}

.woocommerce-Price-amount {
    color: #fff;
    font-size: 1.6rem;
}
.product_meta {
    color: #fff;
    font-size: .8rem;
    margin: 30px 0;
}
.product-project {

}

.woocommerce-breadcrumb {
    display: none;
}

.content-area{
    margin-top: 30px;
}


.product-project hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .product-project p {
      color:#fff;
  }

  .product-project h4 {
    font-weight: 800;
    color:#fff;
    font-size: 1.2rem;
  }
  .single_add_to_cart_button
  [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    background: -webkit-linear-gradient(96deg, rgb(5, 254, 255), rgb(4, 16, 184));
    background: linear-gradient(96deg, rgb(5, 254, 255), rgb(4, 16, 184));
    height: 40px;
    transition: all 0.3s ease;
    border-radius: 3px;
    color: #fff;
    border: none;
    padding: 0 20px;
    margin-left: 40px;
  }
 .detailss .slick-slide {
    height: 400px !important;
  }

  .back-product {
    width: 100%;
    height: 110vh;
    position: absolute;
    top:0;

    z-index: -1;
  }

  .single_add_to_cart_button [type=submit]:not(:disabled), button:not(:disabled):hover {

    background: #fff;
    color: #0441c6;
  }


  .shape-5 {
    height: 400px!important;
    width: 400px!important;
    background-image: url(../img/Lineas.svg);
    z-index: 3;
    position: absolute;
    opacity: .1;
    background-repeat: no-repeat;
  }
  
 .shape-5{
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    -webkit-animation-name: float_up_down_two;
    animation-name: float_up_down_two;
    -webkit-animation-duration: 5s;
    animation-duration: 5s
}
/* Bob Up Down*/
@-webkit-keyframes float_up_down {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes float_up_down {
  0% {
    transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }

  50% {
    transform: translateY(30px);
    transform: translateY(30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}


@-webkit-keyframes float_up_down_two {
    0% {
        -webkit-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px)
    }
    50% {
        -webkit-transform: rotateX(0deg) translateY(15px);
        transform: rotateX(0deg) translateY(15px)
    }
    to {
        -webkit-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px)
    }
}

@keyframes float_up_down_two {
    0% {
        -webkit-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px)
    }
    50% {
        -webkit-transform: rotateX(0deg) translateY(15px);
        transform: rotateX(0deg) translateY(15px)
    }
    to {
        -webkit-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px)
    }
}

.project-product-details .quit {

}

.gradient-dark {
  background: linear-gradient(180deg, rgb(2, 2, 13) 35%, rgba(0,0,0,0) 100%);
  z-index: 0;
  width: 100%;
  height: 500px;
  position: absolute;
}
.position {
  position: relative;
}

.footer-bg {
  position: relative;
}

.woocommerce-message {
  border-top-color: transparent!important;
  position: absolute !important;
  z-index: 9!important;
  bottom: -15px!important;
  left: 0!important;
  color: #ffffff!important;
  font-family: 'Montserrat', sans-serif!important;
  background-color: transparent!important;
  padding: 1em 2em 1em 7.5em!important;
}

.wc-forward {
  color: #05d6f3!important;
  border-bottom: 1px solid!important;
  margin: 0 12px!important;

}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {

  left: 5.5em!important;
}
.woocommerce-message::before {
  content: "\e015";
  color: #05e5f8!important;
}

.project-product-details .slick-slide {
  height: 59%!important;
}

.blog-content-detail {
  margin-top: 50px;
}

.blog-content-detail h3 {
  font-weight: 800;
  text-align: center;
  font-size: 20px;
  margin: 40px;
  color: #fff;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

.blog-content-detail img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-position: center;
}

.blog-content-detail .title-product {
  text-align: start!important;
  margin: 40px 0!important;
}