.woocommerce-product-gallery__image  img { 
    object-fit: cover!important;
    background-repeat: no-repeat!important;
    height: 450px;
    width: 100%;
  }

.flex-viewport {
    width: 100%;
    object-fit: cover!important;
}

.flex-control-nav img {
    width: 100px;
    height: 95px;
    margin: 0 -3px;
    object-fit: cover;
    object-position: top;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.flex-control-nav li {
    display: inline-block;
}

ul.flex-direction-nav {
    position: absolute;
    top: 30%;
    z-index: 99999;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0px;
    list-style: none;
}

li.flex-nav-prev {
    float: left;
    }
li.flex-nav-next {
    float: right;
    }
a.flex-next {
    visibility:hidden;
    }
a.flex-prev {
    visibility:hidden;
    }
a.flex-next::after 
{visibility:visible;content: '\f105';
    font-family: FontAwesome;margin-right: 10px;font-size: 70px;  
      }
a.flex-prev::before {
    visibility:visible;
    content: '\f104';
    font-family: FontAwesome;    margin-left: 10px;font-size: 70px;

    }

.flex-control-nav {
  width: 500px;
  overflow-x: scroll;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}

/* barra
 */
 
#main ::-webkit-scrollbar {
      display: initial !important;
	width: 10px !important;
}

#main  ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
	border-radius: 10px!important;
}

#main ::-webkit-scrollbar-thumb {
	border-radius: 10px!important;
	background: -webkit-linear-gradient(rgba(214, 39, 102, 0.65), rgba(63, 31, 77, 0.83))!important;
	background: linear-gradient(-30deg, rgba(214, 39, 102, 0.65), rgba(63, 31, 77, 0.83))!important;
}